#container{
    margin: 10px;
    align-items: center;
    margin-left:80px
    
}
#cabecera{
    background-color: rgb(211, 208, 208);
    color:black;
    display: flex;
    height: 80px;
    width: 800px; /* for styling purposes */
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#login{
    margin: 10px 25px 10px 10px;
    background-color: blue;
    border-color: black;
    color:aliceblue;
    box-shadow: 2px 2px 2px 1px black;
}
#buscar{
    border-color: black;
    width: 250px;
}
#cuerpo{
    display: flex;
}
#agregar{
    margin: 10px 25px 10px 10px;
    background-color: rgb(89, 228, 121);
    border-color: black;
    color:rgb(29, 30, 31);
    box-shadow: 2px 2px 2px 1px black;

}
.agregarDef{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-color: black;
    border:2px solid;
    margin-top:20px;
    padding: 5px;
    margin-left: 5px;

}
.resultado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-color: black;
    border:2px solid;
    margin-top:20px;
    margin-right: 5px;
    padding: 5px;
}
p{
    margin: 5px;
}
.likes{
    margin: 10px 25px 10px 10px;
    background-color: rgb(240, 179, 23);
    border-color: black;
    color:rgb(7, 7, 7);
    box-shadow: 2px 2px 2px 1px black;

}
